@use "../utils/utils" as *;
@use "../utils/mixins" as *;
@use "../utils/function" as *;


.over-footer {
    @include flex(on, row, space-between, null, center);
    @include respond-to(desktop) {
        @include flex($gap: 30px);
    }
}

.over-footer__text {
    @include size(default, 1100px);
    @include flex(on, column);

    @include respond-to(desktop) {
        @include size(default, 357px);
    }
}

.footer-items {
    @include size(default, 100%);
    @include flex(on, null, space-between, $gap: 100px);

    ul {
        @include flex(on, column, $gap: 20px);

        li {
            color: get-color(absolute, white);
            @include apply-text-style("ad_text_medium");
        }

        @include respond-to(desktop) {
            @include size(default, 128px);
            @include flex(on, column, $gap: 10px);
        }
    }

    @include respond-to(desktop) {
        @include flex(on, null, space-between, null, null, wrap);
    }
}

.small-company-logo {
    @include size(default, 160px);
}

.footer-items-logo {
    @include flex(on, column, $gap: 30px);

    @include respond-to(desktop) {
        @include size(default, 100%);
    }
}

.footer-send {
    @include position(relative);
}

.email-icon {
    @include position(absolute, (top, left), 22px, 20px);
}

.send-icon {
    @include position(absolute, (top, right), 22px, 20px);
}

.footer-send-email {
    border: 1px solid get-color(gray, light_gray_1);
    border-radius: 12px;

    @include size(default, 420px);
    @include spacing(padding, (y, left, right), 21px, 51px, 70px);

    @include respond-to(desktop) {
        @include size(default, 100%);
    }
}

.under-footer__contacts {
    @include flex(on, null, space-between, null, center);

    @include respond-to(desktop) {
        @include flex(on, column-reverse, $gap: 20px);
    }
}

.under-footer__contacts-recapcha {
    @include flex(on, null, null, null, center, $gap: 10px);

    @include respond-to(desktop) {
        @include flex(null, column, null, null, null);
    }
}

.under-footer__social-network {
    @include flex(on, $gap: 10px);
}

.social-network {
    background-color: get-color(gray, dark_gray);
    border-radius: 50%;
    @include flex(on, null, center, null, center);
    @include size(default, 52px, 52px);
}

.under-footer {
    background-color: get-color(gray, charcoal);
    @include size(default, 100%);
    @include spacing(padding, y, 26px);
}
