@use "../utils/utils" as *;
@use "../utils/mixins" as *;
@use "../utils/function" as *;
@use "../utils/maps" as *;
@use "../utils/lists" as *;
@use "../base/font" as *;

.header-items-text{
    color: get-color(absolute, white);
    @include apply-text-style("header_items");
}
.heading{
    color: get-color(absolute, white);
    @include apply-text-style("heading");
}

.ad-text-fat{
    color: get-color(absolute, white);
    @include apply-text-style("ad_text_fat");
}

.ad-text-medium{
    color: get-color(absolute, white);
    @include apply-text-style("ad_text_medium");
}

.options-text{
    color: get-color(absolute, white);
    @include apply-text-style("options_text");
}

.second-heading{
    color: get-color(absolute, white);
    @include apply-text-style("second_heading")
}