@use "../utils/mixins" as *;
@use "../utils/function" as *;

.values-container {
    background-color: get-color(gray, dark_gray);
    @include spacing(padding, all, 40px);
    @include flex(on, null, null, null, null, wrap, $gap: 60px);
    border: 1px solid get-color(gray, charcoal);
    border-radius: 12px;
}

.values {
    @include size(default, 410px);
    @include flex(on, column, $gap: 20px);
}

.values-wrapper {
    @include size(default, 1000px);
    @include spacing(padding, all, 8px);
    border-radius: 16px;
    background-color: get-color(gray, back_gray);

    @include respond-to(desktop) {
        @include size(default, 100%);
    }
}

.row-center {
    @include flex(on, row, null, null, center, $gap: 14px);
}

.values-section {
    @include flex(on, row, null, null, center, $gap: 80px);
}

.values-text {
    @include size(default, 517px);
    @include flex(on, column, $gap: 8px);

    @include respond-to(desktop) {
        @include size(default, 100%);
    }
}

.gray-border {
    background-color: get-color(gray, back_gray);
    @include spacing(padding, all, 8px);
    border-radius: 16px;
}

.achivements {
    @include flex(on, column, $gap: 80px);

    @include respond-to(desktop) {
        @include flex(on, column, $gap: 40px);
    }
}

.card-container {
    @include flex(on, row, space-between, null, null, wrap, $gap: 20px);
}

.achivements-card {
    background-color: get-color(gray, dark_gray);
    border-radius: 12px;
    border: 1px solid get-color(gray, slate_gray);
    @include spacing(padding, all, 40px);
    @include size(default, 512px, 268px);


    @include respond-to(desktop) {
        @include spacing(padding, all, 30px);
        @include size(default, auto, auto);
        @include flex(on, column, center, null, null);
    }
}

.purple-line {
    @include size(default, 1px, 64px);
    background-color: #703bf775;
}

.card-container__line {
    @include flex(on, $gap: 20px);
}

.purple-corner {
    position: relative;
    border-radius: 0 12px 12px 12px;
    padding: 20px;
}

.purple-corner::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle at left top, #703bf775 0%, transparent 60%);
    z-index: 1;
    pointer-events: none;
}


.spacing {
    @include flex(on, column, $gap: 80px)
}

.centered-text {
    @include flex(on, null, null, null, center);
}

.person-card{
    border: 1px solid get-color(gray, slate_gray);
    @include spacing(padding, all, 30px);
    @include flex(on, column, center,  $gap: 50px);
    text-align: center;
    border-radius: 12px;
}

.personal-container{
    @include flex(on, row, space-between, $gap: 30px);

    @include respond-to(desktop) {
        @include flex(null, null, null, null, null, wrap, $gap: 20px);
    }
}

.person-card__button {
    background-color: get-color(purple, vivid_purple);
    transition: background-color 0.3s ease;
    
    &:hover {
        background-color: get-color(purple, deep_purple);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
}
.personal-card__social{
    border-radius: 43px;
    @include size(default, 76px, 52px);
    @include flex(on, null, center, null, center);
    @include position(absolute, (top, left), 90%, 40%);

}

.personal-card__send{
    border-radius: 50%;
    @include size(default, 44px, 44px);

    @include position(absolute, (right, top), 20px, 20%);
}

.person-card__relative{
    @include position(relative);
}

.person-card__name-sayHello{
    @include flex(on, column, $gap: 24px);
}

.questions-person-input{
    background-color: get-color(gray, charcoal);
    border-radius: 100px;
    border: 1px, solid get-color(gray, slate_gray);
    @include spacing(padding, (left, y, right), 24px, 22px, 78px);
}