@use "sass:map";
@use "sass:list";
@use "sass:math";
@use "sass:meta";

@use "./maps" as *;
@use "./lists" as *;
@use "./mixins" as *;
@use "./function" as *;

// Базовые стили для всех кнопок
.btn {
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;

    @include spacing(padding, all, 16px, 24px);

    &:hover {
        opacity: 0.9;
    }

    &:active {
        opacity: 1;
    }
}

.btn--primary {
    background-color: get-color(gray, dark_gray);
    color: get-color(absolute, white);
    border: 1px solid get-color(gray, slate_gray);

    &:hover {
        background-color: get-color(gray, charcoal);
    }

    &:active {
        background-color: get-color(gray, dark_gray);
    }
}

.btn--secondary {
    background-color: get-color(purple, vivid_purple);
    color: get-color(absolute, white);
    transition: all 0.3s;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        background-color: get-color(purple, deep_purple);
    }
}

// .btn--outline {
//     background-color: transparent;
//     color: get-color(absolute, white);
//     border: 1px solid get-color(absolute, white);

//     &:hover {
//         background-color: rgba(get-color(absolute, white), 0.1);
//     }

//     &:active {
//         background-color: rgba(get-color(absolute, white), 0.2);
//     }
// }